.archive__header {
	margin-bottom: 70px;
}
.archive__title {
	font-size: 48px;
	text-transform: uppercase;
	color: $light-eggplant;
}
.archive-entry {
	margin-bottom: 80px;
}
.archive-entry__image {
	width: 100%;
	height: auto;
	margin-bottom: 24px;
}
.archive-entry__title {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 24px;
}