.event {
	position: relative;
	padding-left: 91px;
}
.event__dtstart {
	background: $darkish-pink;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	text-align: center;
	position: absolute;
	width: 72px;
	left: 0;
}
.event__dtstart-day {
	display: block;
	background: #fff;
	color: $darkish-pink;
	font-size: 32px;
	box-shadow: inset -4px 0 0 $darkish-pink, inset 0 -4px 0 $darkish-pink, inset 4px 0 0 $darkish-pink;
}
.event__title {
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1.33;
}
