.event__dtstart {
	background: $darkish-pink;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	text-align: center;
	width: 72px;
	float: left;
	margin: 0 19px 19px 0;
}
.event__dtstart-month {
	display: block;
	background: $darkish-pink;
}
.event__dtstart-day {
	display: block;
	background: #fff;
	color: $darkish-pink;
	font-size: 32px;
	box-shadow: inset -4px 0 0 $darkish-pink, inset 0 -4px 0 $darkish-pink, inset 4px 0 0 $darkish-pink;
}
.event__title {
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1.33;
	margin-top: 24px;
}
.event__summary {
	clear: both;
}
@include media-breakpoint-up( sm ) {
	.event__dtstart {
		float: none;
		width: 72px;
		margin: 0;
		> span {
			width: 72px;
		}
	}
}
@include media-breakpoint-up( lg ) {
	.event {
		position: relative;
		padding-left: 91px;
	}
	.event__dtstart {
		position: absolute;
		left: 0;
	}
}