.site-footer {
	opacity: 0.7;
	background-image: linear-gradient(86deg, #00a099, #cf2975 82%, #d8d8d8 120%);
	background-color: #fff;
	color: #fff;
	padding: 50px 0 70px;
	font-size: 12px;
	line-height: 1.58;
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.social-menu {
	li {
		list-style: none;
		line-height: 24px;
		vertical-align: middle;
		margin-bottom: 20px;
	}
}
.social-menu__icon {
	display: inline-block;
	margin-right: 5px;
}
#logo-ixda--footer {
	#logo-ixda__grey-text {
		polygon,
		path {
			fill: #fff !important;			
		}
	}
}