.job-board-entry {
	margin-bottom: 60px;
}
.board-entry__published {
	display: block;
	font-size: 11px;
	color: #666;
	margin-bottom: 5px;
}
.board-entry__title {
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.43;
}
.board__summary {
	font-size: 14px;
}
@include media-breakpoint-up( lg ) {
	.job-board-entry {
		margin-bottom: 0;
	}
}