
.icon-close {
	background-image: url('png/close.png');
	background-repeat: no-repeat;
}



.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}



.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}



.icon-logo-ixda {
	background-image: url('png/logo-ixda.png');
	background-repeat: no-repeat;
}



.icon-menu {
	background-image: url('png/menu.png');
	background-repeat: no-repeat;
}



.icon-trama-magenta {
	background-image: url('png/trama-magenta.png');
	background-repeat: no-repeat;
}



.icon-trama-superior {
	background-image: url('png/trama-superior.png');
	background-repeat: no-repeat;
}



.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}


